DB_HOST=db
DB_NAME=sistema_reservas
DB_USER=db
DB_PASSWORD=db
APP_URL=http://localhost:8080
EMAIL_API_KEY=
EMAIL_SENDER=
IMAGEKIT_API_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_ENDPOINT=
NODE_ENV=development
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
