<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" />
<link rel="stylesheet" href="/public/css/bootstrap-landing-theme.css" />

<script src="/public/js/build/auth.js?v={time()}" type="module"></script>
<script type="module">
  import '/src/js/shared/components/credentials-card.js';
</script>
