<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    {include 'landing-scripts.latte'} {block scripts} {/block}
  </head>

  <body>
    <header>{include '../components/header.latte'}</header>
    <div class="container" style="max-width: 1400px">
      <main class="pt-4">{block content}{/block}</main>
    </div>
    {include '../components/footer.latte'}
  </body>
</html>
