<link rel="stylesheet" href="/public/js/build/client.css?v={time()}" />
<link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" />
<link rel="stylesheet" href="/public/css/bootstrap-landing-theme.css" />
{block styles}{/block}

<meta name="app-env" content="{getNodeEnv()}" />

{block scripts}
<script type="module" src="/public/js/build/client.js?v={time()}"></script>
<script type="module">
  import '/src/js/shared/components/credentials-card.js';
</script>
{/block}
