<!DOCTYPE html>
<html>
  <head>
    <title>Reservas</title>
  </head>
  <body>
    <div id="bookings-app"></div>
    <script type="module" src="../../public/js/user/bookings/bookingsApp.js"></script>
  </body>
</html>
