{layout '../layouts/landpage.latte'} 
{block title} Inicio {/block} 
{block scripts} {/block} 
{block content}
<div class="sections-wrapper">
  {include '../components/hero.latte'}
  {include '../components/whoami.latte'}
</div>
{/block}
