{layout '../layouts/panel-layout.latte'} {block title}Gestión de Usuarios{/block} {block content}
<div class="mb-4">
  <h1 class="mb-4">Gestión de Usuarios</h1>

  <div id="users-app"></div>
</div>
{/block}
